<html>
<body>
    <div class="login">
       <h1>FWI Prediction</h1>
   
        <!-- Main Input For Receiving Query to our ML -->
       <form action="{{ url_for('predict_datapoint')}}" method="post">
         <input type="text" name="Temperature" placeholder="Temperature (in °C)" required="required" /><br>
           <input type="text" name="RH" placeholder="Relative Humidity (RH) in %" required="required" /><br>
           <input type="text" name="Ws" placeholder="Wind Speed (WS) in km/h" required="required" /><br>
           <input type="text" name="Rain" placeholder="Rain (in mm)" required="required" /><br>
           <input type="text" name="FFMC" placeholder="Fine Fuel Moisture Code (FFMC) index" required="required" /><br>
           <input type="text" name="DMC" placeholder="Duff Moisture Code (DMC) index" required="required" /><br>
           <input type="text" name="ISI" placeholder="Initial Spread Index (ISI) index " required="required" /><br>
           <input type="text" name="Classes" placeholder="Classes: 0->Not Fire, 1->Fire" required="required" /><br>
           <input type="text" name="Region" placeholder="Region: 0->Bejaia region, 1->Sidi Bel-abbes region" required="required" /><br>
   
   
   
           <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
       </form>
    <h2>
       THE Fire Weather Index (FWI) prediction is {{result}}
    </h2>
   </body>
</html>
